<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkbox</title>
</head>
<body>
<div id="app">
    <!--如果是复选框，只有一个复选框的时候，会把此值转化为Boolean类型，如果为true则代表选中-->
    <input type="checkbox" v-model="a">{{a}}
    <br>
    爱好:
    <!--checkbox是可以加value值的，这里的b取到的value值，给了数组-->
    <!--如果是多个checkbox，要增加value属性并且数据类型是数组-->
    <input type="checkbox" value="游泳" v-model="b">游泳
    <input type="checkbox" value="爬山" v-model="b">爬山
    <input type="checkbox" value="睡觉" v-model="b">睡觉
    {{b}}
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            a:0,//0的话 checkbox是不选中的，因为默认吧a转化为false
            b:[]//如果这里取得是空字符串，那么会点一个全选所以，b的值是Boolean型，可能是因为字符串只能存单个值，数组能存多个值
        }
    });
</script>
</body>
</html>
