<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
<div id="app">
    <ul>
        <!--其中item是我们自定义的名字，用来获取当前数组遍历的每一个元素-->
        <li v-for="item in items">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
        </li>
    </ul>
    <!--v-for内置了$index变量，输出当前数组元素的索引,但是，在vue2.0中已经取消了$index。所以，我们也可以自己指定索引的名，如-->
    <li v-for="(key,index) in items">{{index}}--{{key.title}}</li>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            items:[
                {title:'title-1',description:'description-1'},
                {title:'title-2',description:'description-2'},
                {title:'title-3',description:'description-3'},
                {title:'title-4',description:'description-4'}
            ]
        }
    });
</script>
</body>
</html>